/* .shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  col-cap: 5px;
  padding: 30px;
}
.cart-container {
}*/
.cart {
  position: sticky;
  top: 10px;
}
